## Q1

A database is a structured collection of data. SQL (Structured Query Language) and NoSQL are two types of database management systems. 

**SQL Databases:**
- Data model: Relational (tabular structure).
- Schema: Predefined schema.
- Scalability: Typically vertically scalable.
- Examples: MySQL, PostgreSQL.

**NoSQL Databases:**
- Data model: Various (document-oriented, key-value, etc.).
- Schema: Typically schema-less.
- Scalability: Often horizontally scalable.
- Examples: MongoDB, Cassandra, Redis.

SQL is suitable for structured data and complex queries, while NoSQL is flexible for unstructured or changing data with scalability needs.

## Q2.

**DDL (Data Definition Language):**

DDL, or Data Definition Language, is a subset of SQL used for defining and managing the structure of a database. DDL commands are responsible for defining, altering, and dropping database objects such as tables, indexes, and views. The primary DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

**1. CREATE:**
The CREATE command is used to create a new database object, such as a table. For example:

```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);
```

This SQL statement creates a table named "employees" with columns for employee ID, first name, last name, and hire date.

**2. DROP:**
The DROP command is used to remove an existing database object, such as a table. For example:

```sql
DROP TABLE employees;
```

This SQL statement removes the "employees" table from the database.

**3. ALTER:**
The ALTER command is used to modify the structure of an existing database object. For example:

```sql
ALTER TABLE employees
ADD COLUMN department_id INT;
```

This SQL statement adds a new column, "department_id," to the existing "employees" table.

**4. TRUNCATE:**
The TRUNCATE command is used to remove all rows from a table, but it retains the table structure for future use. For example:

```sql
TRUNCATE TABLE employees;
```

This SQL statement removes all records from the "employees" table, effectively resetting the data while keeping the table structure intact.

In summary, DDL commands (CREATE, DROP, ALTER, TRUNCATE) are crucial for defining, modifying, and managing the structure of a database, allowing developers to create tables, alter their structure, remove tables, and reset data as needed.

## Q3

**DML (Data Manipulation Language):**

DML, or Data Manipulation Language, is a subset of SQL used for manipulating data stored in the database. DML commands include INSERT, UPDATE, and DELETE, and they are crucial for performing operations on the data within database tables.

**1. INSERT:**
The INSERT command is used to add new records (rows) into a table. For example:

```sql
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2022-01-01');
```

This SQL statement inserts a new record into the "employees" table, providing values for the columns "employee_id," "first_name," "last_name," and "hire_date."

**2. UPDATE:**
The UPDATE command is used to modify existing records in a table. For example:

```sql
UPDATE employees
SET last_name = 'Smith'
WHERE employee_id = 1;
```

This SQL statement updates the "last_name" column in the "employees" table, changing the value to 'Smith' for the record where "employee_id" is 1.

**3. DELETE:**
The DELETE command is used to remove records from a table based on a specified condition. For example:

```sql
DELETE FROM employees
WHERE employee_id = 1;
```

This SQL statement deletes the record from the "employees" table where "employee_id" is 1.

## Q4.

**DQL (Data Query Language):**

DQL, or Data Query Language, is a subset of SQL used for querying and retrieving data from a database. The primary DQL command is SELECT, which is used to retrieve data from one or more tables.

**SELECT:**
The SELECT command is used to query the database and retrieve specific data based on specified criteria. It allows you to choose which columns to include in the result set and apply conditions to filter the data. Here's an example:

```sql
SELECT first_name, last_name, hire_date
FROM employees
WHERE department_id = 2;
```

## Q5.

**Primary Key:**
- A primary key is a unique identifier for a record in a database table.
- It ensures each row in the table is uniquely identified and cannot have a null or duplicate value.
- Typically, the primary key is associated with an indexed column for fast retrieval.
- Example: In a table of employees, the "employee_id" column can serve as the primary key.

**Foreign Key:**
- A foreign key is a column or set of columns in a database table that refers to the primary key of another table.
- It establishes a link between two tables, creating a relationship.
- Foreign keys help maintain referential integrity, ensuring that values in the referencing table correspond to existing values in the referenced table.
- Example: In a table of orders, the "customer_id" column could be a foreign key referring to the "customer_id" primary key in a customers table.

## Q6.

```python
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Execute a SQL query using the execute() method
cursor.execute("SELECT * FROM your_table")

# Fetch the results of the query
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()
```

**Explanation:**
- `cursor()`: The `cursor()` method is used to create a cursor object. A cursor is essential for interacting with the database and executing SQL queries.

- `execute()`: The `execute()` method is used to execute a SQL query. You pass the SQL query as a string to this method. In the example, it executes a SELECT query to retrieve all rows from the specified table.

## Q7.

The order of execution for SQL clauses in a query is as follows:
1. **FROM**
2. **WHERE**
3. **GROUP BY**
4. **HAVING**
5. **SELECT**
6. **ORDER BY**